//Rubik light
@font-face {
  font-family: 'rubik';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/rubik/Rubik-Light.ttf') format('truetype');
}

//Rubik light italic
@font-face {
  font-family: 'rubik';
  font-weight: 300;
  font-style: italic;
  src: url('../assets/fonts/rubik/Rubik-LightItalic.ttf') format('truetype');
}

//Rubik regular
@font-face {
  font-family: 'rubik';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/rubik/Rubik-Regular.ttf') format('truetype');
}

//Rubik regular italic
@font-face {
  font-family: 'rubik';
  font-weight: 400;
  font-style: italic;
  src: url('../assets/fonts/rubik/Rubik-Italic.ttf') format('truetype');
}

//Rubik medium
@font-face {
  font-family: 'rubik';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/rubik/Rubik-Medium.ttf') format('truetype');
}

//Rubik medium italic
@font-face {
  font-family: 'rubik';
  font-weight: 500;
  font-style: italic;
  src: url('../assets/fonts/rubik/Rubik-MediumItalic.ttf') format('truetype');
}

//Rubik semi-bold
@font-face {
  font-family: 'rubik';
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/rubik/Rubik-SemiBold.ttf') format('truetype');
}

//Rubik semi-bold italic
@font-face {
  font-family: 'rubik';
  font-weight: 600;
  font-style: italic;
  src: url('../assets/fonts/rubik/Rubik-SemiBoldItalic.ttf') format('truetype');
}

//Rubik bold
@font-face {
  font-family: 'rubik';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/rubik/Rubik-Bold.ttf') format('truetype');
}

//Rubik bold italic
@font-face {
  font-family: 'rubik';
  font-weight: 700;
  font-style: italic;
  src: url('../assets/fonts/rubik/Rubik-BoldItalic.ttf') format('truetype');
}

//Rubik extra-bold
@font-face {
  font-family: 'rubik';
  font-weight: 800;
  font-style: normal;
  src: url('../assets/fonts/rubik/Rubik-ExtraBold.ttf') format('truetype');
}

//Rubik extra-bold italic
@font-face {
  font-family: 'rubik';
  font-weight: 800;
  font-style: italic;
  src: url('../assets/fonts/rubik/Rubik-ExtraBoldItalic.ttf') format('truetype');
}

//Rubik black
@font-face {
  font-family: 'rubik';
  font-weight: 900;
  font-style: normal;
  src: url('../assets/fonts/rubik/Rubik-Black.ttf') format('truetype');
}

//Rubik black italic
@font-face {
  font-family: 'rubik';
  font-weight: 900;
  font-style: italic;
  src: url('../assets/fonts/rubik/Rubik-BlackItalic.ttf') format('truetype');
}
