@mixin fill-behavior {
  width: 100%;
  min-width: 0;
}

:host {
  .component {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  ::slotted(sdx-button) {
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .responsive-reverse {
    flex-direction: row-reverse;
  }

  .fill {
    flex-wrap: nowrap;
  }
}
:host(.fill) {
  ::slotted(sdx-button) {
    @include fill-behavior;
  }
}

:host(.responsive-fill) {
  ::slotted(sdx-button) {
    //@include bp-sm {
    @include fill-behavior;
    //}
  }
}

:host(.fullwidth) {
  ::slotted(sdx-button) {
    width: 100%;
  }
}
