:host {
  display: inline-block;
  outline: none;
  width: auto;
  min-width: 100px;
}

:host(.disabled),
:host(.loading) {
  cursor: not-allowed;

  .container {
    pointer-events: none;
  }
}

:host(.loading) {
  .label {
    visibility: hidden;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .clickable {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;

    &.disabled {
      background-color: $gray;
      border-color: $gray;
      color: $lavender-tint-3;
    }
  }
}

.loader-container {
  position: absolute;
  display: flex;
  justify-content: center;
}

.primary,
.secondary,
.transparent {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid;
  border-radius: 10px;
  transform-origin: 50% 50%;

  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s,
    transform 0.3s;

  &:hover {
    cursor: pointer;
    transform: scale(0.98);
  }
}

.primary.ewc--light {
  background-color: $oxford-blue;
  border-color: $oxford-blue;
  color: $lavender-tint-3;

  &:hover {
    background-color: $charcoal;
    border-color: $charcoal;
    color: $lavender-tint-1;
  }
}

.primary.ewc--dark {
  background-color: $lavender-tint-1;
  border-color: $lavender-tint-1;
  color: $rich-black;

  &:hover {
    background-color: $lavender-tint-3;
    border-color: $lavender-tint-3;
    color: $rich-black;
  }
}

.secondary.ewc--light {
  background-color: $lavender-tint-2;
  border-color: $oxford-blue;
  color: $charcoal;

  &:hover {
    background-color: $lavender-tint-3;
  }
}

.secondary.ewc--dark {
  background-color: $rich-black;
  border-color: $charcoal;
  color: $lavender-tint-2;

  &:hover {
    background-color: $oxford-blue;
    color: $lavender-tint-1;
  }
}

.transparent.ewc--light {
  background-color: transparent;
  border-color: $oxford-blue;
  color: $oxford-blue;

  &:hover {
    border-color: $rose-quartz;
  }
}

.transparent.ewc--dark {
  background-color: transparent;
  border-color: $charcoal;
  color: $rose-quartz;

  &:hover {
    border-color: $rich-black;
  }
}
