:host {
  display: inline-block;
  outline: none;
  width: auto;
  min-width: 50px;
}

:host(.disabled),
:host(.loading) {
  cursor: not-allowed;

  .container {
    pointer-events: none;
  }
}

:host(.loading) {
  .label {
    visibility: hidden;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .clickable {
    display: flex;
    align-items: center;
    justify-content: center;

    &.disabled {
      background-color: $gray-tint-2;
      border-color: $gray-tint-2;
      color: $gray;
    }
  }
}

.loader-container {
  position: absolute;
  display: flex;
  justify-content: center;
}

.primary,
.secondary,
.transparent {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: 1px solid;
  border-radius: 10px;
  transform-origin: 50% 50%;

  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s,
    transform 0.3s;

  &:hover {
    cursor: pointer;
    transform: scale(0.99);
  }
}

.primary.ewc--light {
  background-color: $dark;
  border-color: $dark;
  color: $light-violett;

  &:hover {
    background-color: $light;
    color: $violett;
  }
}

.primary.ewc--dark {
  background-color: $light;
  border-color: $light;
  color: $violett;

  &:hover {
    background-color: $dark;
    color: $light-violett;
  }
}

.secondary.ewc--light {
  background-color: $light;
  border-color: $violett;
  color: $violett;

  &:hover {
    background-color: $dark;
    color: $light-violett;
  }
}

.secondary.ewc--dark {
  background-color: $dark;
  border-color: $light-violett;
  color: $light-violett;

  &:hover {
    background-color: $light;
    color: $violett;
  }
}

.transparent.ewc--light {
  background-color: transparent;
  border-color: $violett;
  color: $violett;

  &:hover {
    border-color: transparent;
  }
}

.transparent.ewc--dark {
  background-color: transparent;
  border-color: $light-violett;
  color: $light-violett;

  &:hover {
    border-color: transparent;
  }
}
