$black: #000000; // background dark
$rich-black: #0c1821; // background accents dark
$oxford-blue: #1b2a41; // native dark
$charcoal: #324a5f; // accents dark
$lavender-tint-1: #e7e6f7; // background light
$lavender-tint-2: #c6d2ed; // background accents light
$lavender-tint-3: #ccc9dc; // font dark
$pale-purple: #e3d0d8; // accents light
$rose-quartz: #aea3b0; // accents light
$mountbatten-pink: #9b8fa3; // helper
$gray: #696969; // helper
