$black: #000000; // background dark
$rich-black: #0C1821; // background accents dark
$oxford-blue: #1B2A41; // native dark
$charcoal: #324A5F; // accents dark
$lavender-tint-1: #E7E6F7; // background light
$lavender-tint-2: #C6D2ED; // background accents light
$lavender-tint-3: #CCC9DC; // font dark
$pale-purple: #E3D0D8; // accents light
$rose-quartz: #AEA3B0; // accents light
$mountbatten-pink: #9B8FA3; // helper
$gray: #696969; // helper