@import '../components/globals/scss/variables';

:root {
  --ewc-black: #{$black};
  --ewc-rich-black: #{$rich-black};
  --ewc-oxford-blue: #{$oxford-blue};
  --ewc-charcoal: #{$charcoal};
  --ewc-lavender-tint-1: #{$lavender-tint-1};
  --ewc-lavender-tint-2: #{$lavender-tint-2};
  --ewc-lavender-tint-3: #{$lavender-tint-3};
  --ewc-pale-purple: #{$pale-purple};
  --ewc-rose-quartz: #{$rose-quartz};
  --ewc-mountbatten-pink: #{$mountbatten-pink};
  --ewc-gray: #{$gray};
}
